

body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 40px;
	background: linear-gradient( to right, rgb(89, 255, 0), rgb(51,75,255));
}

.calculator-grid {
	display: grid;
	grid-template-columns: repeat(4, 6rem);
	grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.calculator-grid > button {
	text-align: center;
	cursor: pointer;
	font-size: 2rem;
	background-color: rgba(255, 255, 255, .70);
}

.calculator-grid > button:hover {
	background-color: rgba(255, 255, 255, .9);
}

.span-two {
	grid-column: span 2;
}

.output {
	grid-column: 1 / -1;
	background-color: rgba(0, 0, 0, 0.75);
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-around;
	padding: .75rem;
	word-wrap: break-word;
	word-break: break-all;
}

.output .previous-operand {
	color: rgba(255, 255, 255, .75);
	font-size: 1.5rem;
}

.output .current-operand {
	color: white;
	font-size: 2.5rem;
}